* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
}

.wrapper {
    margin: 20px auto;
    margin-left: 300px;
    height: 590px;
    display: flex;
}

.fullboard {

    width: 330px;
    height: 100%;
    background-color: rgb(94, 90, 90);
    border: 1px solid black;
    border-right: none;
}

.circle {
    background-color: white;
    width: 70%;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(94, 90, 90);
    margin: auto auto;
    cursor: pointer;
}

.pegs {
    width: 100px;
    height: 100%;
    background-color: rgb(94, 90, 90);
    border: 1px solid black;
    border-left: none;
}

.pegcircle {

    background-color: rgb(171, 169, 169);
    border-radius: 50%;
    width: 80%;
    height: 30px;
    margin: auto auto;
}

.colorBoard {

    width: 200px;
    height: 300px;
    border: 2px solid rgb(64, 62, 62);
    margin-left: 20px;
    margin-top: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    cursor: pointer;

}

.color:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.code {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 20px;

    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(1, 50px);
}

.secret-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
}

.currentcolor {
    width: 200px;
    height: 50px;
    border: 2px solid rgb(64, 62, 62);
    margin-left: 20px;
    margin-top: 20px;
}

.submit {
    margin-left: 20px;
    margin-top: 20px;
}

button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 2px solid pink;
    color: rgb(71, 69, 69);
    font-size: 18px;
    transition: 0.1s;
}

button:hover {
    box-shadow: 2px 2px 4px rgb(47, 47, 47);
}

.submit p {
font-size: 14px;
background-color: #dedede;
width: 200px;
margin-top: 10px;
}

.circle {
    background-color: white;
    border-radius: 50%;
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(137, 133, 133, 0.4);
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    color: black;

    perspective: 1000px;
}

.modal-message {
    transform: rotateY(40deg);

    animation-name: curve;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}

@keyframes curve {
    from {
        transform: rotateY(40deg);
    }

    to {
        transform: rotateY(-40deg);
    }
}